:root {
  /* Brand Colors */
  --nebular-purple: #230023;
  --pulse-red: #FE2200;
  --steel-grey: #DDE3E8;
  --cloud-blue: #0DC8FF;
  --indigo-purple: #890AC8;
  --light-grey: #F5F5F5;
  --dark-grey: #333333;

  /* Functional colors */
  --primary-color: var(--dark-grey);
  --secondary-color: var(--light-grey);
  --accent-color: var(--pulse-red);
  --background-color: var(--light-grey);
  --highlight-color: var(--cloud-blue);

  /* Text colors */
  --text-on-light: var(--dark-grey);
  --text-on-dark: var(--light-grey);
} 